.confirm{
    display: flex;
    justify-content: center;
    align-items: center;

    &-input{
        width: 35vw;

        label{
            margin-bottom: 1rem;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 500;
        }
    
        textarea{
            border: 1px var(--color-primary-light) solid;
            height: 6rem;
            width: 100%;
        }
    }

    &-btn{
        margin-left: 3rem;
        color: var(--color-white);
        background-color: var(--color-primary-light);
        border: 1px var(--color-primary-light) solid;
        outline: none;
        padding: 1rem 2rem;
        border-radius: .3rem;
        font-size: 1.8rem;
        font-weight: 600;
        cursor: pointer;
    }
}

